<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSTB Admin</title>
</head>
<body>
    {{#responses}}
        <div class="card">
            {{#questions}}
                <p class="question">{{header}}</p>
            {{/questions}}
            <p class="response">{{body}}</p>
        </div>
    {{/responses}}
</body>
</html>